<html>

<head>
	<title>Register - Products</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/productListing.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/productListing.js" defer></script>
</head>

<body>
	<div class="header">
		<h1 class="primary-message">Products Listing</h1>
	</div>

	<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>

		<div class="productsWrapper">
			<div <% if (!locals.isElevatedUser) { %>class="hidden"<% } %>>
				<a href="/productDetail/" class="button">Create New</a>
			</div>
			<br />
			<br />

			<% if (locals.products && (locals.products.length > 0)) { %>
				<ul id="productsListing" class="products">
					<% locals.products.forEach((product) => { %>
						<li>
							<input type="hidden" name="productId" value="<%= product.id %>" />
							<span name="productLookupCode"><%= product.lookupCode %></span>
							<br />&nbsp;&nbsp;<span name="productCount"><%= product.count %></span>
							<br />&nbsp;&nbsp;<span name="productCreatedOn"><%= product.createdOn %></span>
						</li>
					<% }); %>
				</ul>
			<% } %>
		</div>

		<div class="hidden">
			<input type="checkbox" id="isRefreshed" class="hidden">
			<script type="text/javascript">
				window.onunload = function() {
					const isRefreshedElement = document.getElementById("isRefreshed");

					if(!isRefreshedElement.checked) {
						isRefreshedElement.checked = true;
					} else {
						isRefreshedElement.checked = false;
						location.reload();
					}
				}
			</script>
		</div>
	</div>

	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>

</body>

</html>
