<html>

<head>
	<!-- Web page title-->
	<title>Register - Employee</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
</head>

<body>

	<div class="header">
		<!-- Employee Detail page header -->
		<h1 class="primary-message">Employee Detail</h1>
	</div>
		
	<div id="main" class="main">
		<!-- Check for errors with hidden  -->
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>
		<!-- Div which allows for employee details to be input into the system -->
		<div class="inputContent">
			<table id="employeeDetails">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<!-- User enters ID -->
							<input id="employeeId" type="hidden" value="<% if (locals.employee && locals.employee.id) { %><%= locals.employee.id %><% } %>" />
						</td>
					</tr>
					<tr class="hidden">
						<td>Manager ID:</td>
						<td>
							<!-- User enters Manager ID -->
							<input id="employeeManagerId" type="hidden" value="<% if (locals.employee && locals.employee.managerId) { %><%= locals.employee.managerId %><% } %>" />
						</td>
					</tr>
					<tr <% if (!locals.employee || !locals.employee.id || (locals.employee.id.trim() === "")) { %>class="hidden"<% } %>>
						<td class="label">Employee ID:</td>
						<td>
							<!-- User enters employee's ID-->
							<input id="employeeEmployeeId" type="text" value="<% if (locals.employee && locals.employee.employeeId) { %><%= locals.employee.employeeId %><% } %>" class="update" disabled />
						</td>
					</tr>
					<tr>
						<td class="label">First Name:</td>
						<td>
							<!-- User enters employee's first name -->
							<input id="employeeFirstName" type="text" value="<% if (locals.employee && locals.employee.firstName) { %><%= locals.employee.firstName %><% } %>" class="update" />
						</td>
					</tr>
					<tr>
						<td class="label">Last Name:</td>
						<td>
							<!-- User enters employee's last name -->
							<input id="employeeLastName" type="text" value="<% if (locals.employee && locals.employee.lastName) { %><%= locals.employee.lastName %><% } %>" class="update" />
						</td>
					</tr>
					<tr>
						<td class="label">Password:</td>
						<td>
							<!-- User enters employee password -->
							<input id="employeePassword" type="password" value="" class="update" />
						</td>
					</tr>
					<tr>
						<td class="label">Confirm Password:</td>
						<td>
							<!-- User confirms password by typing a 2nd time -->
							<input id="employeeConfirmPassword" type="password" value="" class="update" />
						</td>
					</tr>
					<tr <% if (locals.isInitialEmployee) { %>class="hidden"<% } %>>
						<td class="label">Employee Type:</td>
						<td>
							<select id="employeeType" class="select">
								<% locals.employeeTypes.forEach((employeeType) => { %>
									<!-- Type of employee is selected -->
									<option value="<%= employeeType.value %>" <% if ((locals.employee != null) && (locals.employee.classification === employeeType.value)) { %>selected<% } %>><%= employeeType.label %></option>
								<% }); %>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="employeeActionsWrapper <% if (locals.errorMessage && (locals.errorMessage !== "")) { %>hidden<% } %>">
			<br />
			<!-- Option button to save the employee information that was entered -->
			<button id="saveButton" type="button" class="action">Save</button>
		</div>

		<div id="employeeSavedAlertModal" class="modal animate-opacity-show">
			<div class="modal-content">
				<div class="container gray-blue">
					<h1>
						<span>Employee</span><br />
						<span>Saved</span>
					</h1>
				</div>
			</div>
		</div>
	</div>
		<!-- Sign-out button which returns user to sign-in view -->
	<div class="footer <% if (locals.isInitialEmployee) { %>hidden<% } %>">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>

</body>

</html>